<div class="container">
  <div class="flex-parent jc-center mb-6">
    <div class="container everything-centered">
      <div class="flex-parent jc-center mb-6 bottom-spacing ">
        <h1><i class="fa-1x fa-solid fa-bookmark"></i> Your Interests</h1>
      </div>

      <div>
        <div class="col-md-4 mb-4">
          <% @my_bookmarks.each_with_index do |bookmark, index| %>
            <div class="card" style="padding: 10px; border-radius: 10px">
              <div class="card-header text-center">
                <%= content_tag :p, bookmark.interest.name.capitalize, style: 'color: black; font-size: 24px;' %>
                <%= link_to(bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}) do %>
                  <i class="fa-solid fa-trash-can" style="color: black;"></i>
                <% end %>
              </div>
            </div>
            <br>
          <% end %>
        </div>
      </div>


      <% if @my_bookmarks.count < 3 %>
      <i class="fa-solid fa-plus"><%= link_to "Add", bookmarks_new_path, class: "ambl-button mr-3" %></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <% end %>
      <i class="fa-solid fa-thumbs-up"><%= link_to "Done", root_path, class: "ambl-button mr-3" %></i>
    </div>
  </div>
</div>
