// Specific CSS for your home-page
body {
  background-color: #775577;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Sans-serif;
  color: white;
}
