// Specific CSS for your home-page
body {
  background: rgb(101,21,164);
  background: linear-gradient(90deg, rgba(101,21,164,1) 0%, rgba(103,31,126,1) 69%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Sans-serif;
  color: white;
}

body.new {
  background-color: #775577;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Sans-serif;
  color: #775577;
}
