<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to places_path(@place), class: "navbar-brand" do %>
      <i class="fa-sharp fa-solid fa-2x fa-location-dot"></i>
    <% end %>
      <%= link_to bookmarks_path, class: "navbar-brand" do %>
        <i class="fa-2x fa-solid fa-bookmark"></i>
      <% end %>
        <%= link_to settings_path, class: "navbar-brand" do %>
          <i class="fa-2x fa-sharp fa-solid fa-gear"></i>
        <% end %>
  </div>
</div>
