<div class="title">Ambl</div>
    <div class="subtitle">Find hidden gems, wherever you go!</div>
    <%= link_to "Set your notification settings", settings_path, class: "button" %>
    <%= link_to "Set your interests", interests_path, class: "button" %>
    <p class="slogan">We’ll take care of the rest</p>



<%= link_to "Log In", new_user_session_path, class: "btn btn-primary" %>
