.ambl-button {
  background-color: #C5C5C5;
  color: #775577;
  //border: 2px solid #775577;
  padding: 8px 16px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  margin: 16px;
}

.cover1 {
  position: absolute;
  left: 10px;
  width: 370px;
  height: 109px;
  top: 443px;
  right: 0;
  border: solid #775577;
  background-color: #775577;
}

.ambl-click-2 {
  position: relative;
  background-color: #C5C5C5;
  color: #775577;
  //border: 2px solid #775577;
  padding: 8px 16px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  margin: 16px;
}
