.bookmark-card-body {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Sans-serif;
  color: black;
  padding: 5px;
  border-radius: 10px;
  border: 5px;
}
.bookmark-card-header{
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Sans-serif;
  color: black;
  padding: 5px;
  border-radius: 10px;
  border: 5px;
}
