.bookmark-card-body {
  background-color: #a19f9f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Sans-serif;
  color: black;
}
.bookmark-card-header{
  background-color: #a19f9f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Sans-serif;
  color: black;
}
