.navbar-lewagon {
  justify-content: space-between;
  background: white;
  background-color: #ccc8c8;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  width: 40px;
  color: rgb(118, 90, 125);
  margin: 10px;
  padding: 10px;
}
