.navbar-lewagon {
  justify-content: space-around;
  background: white;
  background-color: #ccc8c8;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;

  background: rgb(224,210,232);
  background: linear-gradient(90deg, rgba(224,210,232,1) 0%, rgba(182,183,184,1) 56%);
  z-index: 10;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  width: 40px;
  color: rgb(118, 90, 125);
  margin: 10px;
  padding: 0px;
}
