.title {
  font-size: 72px;
  font-family: dm serif display;
  margin: none;
}

.card-title {
  font-size: 36px;
  background-color: #C5C5C5;
  color: #775577;
  font-family: dm serif display;
  margin: none;
  padding-top: 4px;
  padding-right: 8px;
  padding-bottom: 4px;
  padding-left: 8px;
  border-style: outset;
  border-radius: 10px;
}
